input {
 color: #0000b3;
 text-align: center;
}

div.txt {
 display: inline-block;
 text-align: left;
 width: 50px;
}

a:link.CC110x, a:visited.CC110x {
 color: #cc00cc;
}

.btn {
 background-color: #3399ff;
 border-radius: 11px 11px 11px 11px;
 color: white;
 cursor: pointer;
 padding: 2px 6px;
 text-align: center;
}

.btn:hover {
 background-color: #ffff00;
 color: black;
}

.ce,#t0,#t1,#t2,#t3,#t4,#t5,#t6,#t7,#t8,#t9,#t10,#t11,#t12,#t13,#t14,#t15,#t16,#t17,#t18,#t19,#t20,#t21,#t22,#t23,#t24,#t25,#t26,#t27,#t28,#t29,#t30,#t31,#t32,#t33,#t34,#t35,#t36,#t37,#t38,#t39,#t40,#t41,#t42,#t43,#t44,#t45,#t46 {
 text-align: center;
}

.in {
 color: green;
 text-align: center;
}

.f1 {
 width: 33.2%;
}

.f2 {
 width: 16.6%;
}

.f4 {
 width: 24.8%;
}

/* color of changed values */
:root {
  --val_std: #0000b3;
  --val_diff: #ff0000;
}


/* all settings for Modal, Modal Content, Close Button ... */
.mod {
  background-color: rgb(0,0,0);      /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.mod-cont {
  background-color: #fefefe;
  border: 1px solid #888;
  margin: auto;
  padding: 20px;
  table-layout: fixed;
  text-align: left;
  width: 80%;
}

.mod-cont table {
  width: 100%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}