.btn {
 background-color: #3399FF;
 border-radius: 15px;
 color: white;
 cursor: pointer;
 margin: 0px 5px 0px 5px;
 padding: 2px 6px;
 text-align: center;
}

.btn2 {
 background-color: #33b06b;
 border-radius: 15px;
 color: white;
 cursor: pointer;
 margin: 0px 5px 0px 5px;
 padding: 2px 6px;
 text-align: center;
}

.btn:hover {
 background-color: #FFFF00;
 color: black;
}

.ac {
 text-align: center;
}

.thf1 {
 width: 33.2%;
}

.in {
 text-align: center;
}

.grn {
 color: green;
}

.red {
 color: red;
}

input {
 text-align: center;
}

a:link.chip, a:visited.chip {
 color: #CC00CC;
}

/* backgroud color of button "enable/active reception" */
:root {
  --bt_reception_active: #ccffcc;
  --bt_reception_enable: #FFFFFF;
}
