a:link.RAW, a:visited.RAW { color: #cc00cc; }
.td1,.inp,input[type="number"]{text-align: center;}
.dd {width: 8.3%;}
select {text-align: right;}

/* color of rssi value */
:root {
  --rssi_bad: #ff0000;    /* > -50  */
  --rssi_good: #28a428;   /* <= -80 */
}

.btn {
 background-color: #3399ff;
 border-radius: 15px;
 color: white;
 cursor: pointer;
 text-align: center;
 width: 50px;
}

.btn:hover {
 background-color: #ffff00;
 color: black;
}

/*------ dataTable | changing color per line --------*/
#dataTable tr:nth-child(even) > td {
 background-color: #ffffff
}

#dataTable tr:nth-child(odd) > td {
 background-color: #e3e3e3
}
